body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.top-container  {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px

}

.middle-container {
  background: blue;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  border-bottom: 300px;
}
